body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crossword-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .crossword-container {
    flex-direction: column;
  }
}

.guess-text-incorrect,
.guess-text-correct {
  transform: translate(0, -0.5px);
}

.guess-text-correct {
  fill: #0b50e3 !important;
}
